annotated-types==0.7.0
blinker==1.9.0
catalogue==2.0.10
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
flask==3.1.2
idna==3.11
itsdangerous==2.2.0
jinja2==3.1.6
markupsafe==3.0.3
pydantic==2.12.3
pydantic-core==2.41.4
pydantic-settings==2.11.0
python-dotenv==1.1.1
requests==2.32.5
srsly==2.5.1
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.5.0
werkzeug==3.1.3
